@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
    position: relative;
}

header {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header h1 {
    width: 50%;
    text-align: left;
    letter-spacing: 3px;
    margin: 0;
}

.search_bar {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.search_bar input {
    width: 50%;
    height: fit-content;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
}

.search_bar button {
    padding: 8px 20px;
    border-radius: 20px;
}

.search_bar input:focus {
    outline: none;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info {
    margin-top: 20px;
}

.number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.btn {
    padding: 5px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    cursor: pointer;
    background-color: #6c79db;
    color: #fff;
}

.btn:focus {
    outline: none;
    background-color: #D4D3DD;
    color: #000;
}

.modal_container {
    background-color: rgba(200, 200, 200, 0.5);
    overflow-y: scroll;
    display: none;
    z-index: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal {
    width: 80%;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(100, 100, 100, 0.8);
    display: flex;
    z-index: 2;
    overflow: hidden;
}

.active_modal {
    display: flex;
}

.modal .info_container {
    flex: 1;
    padding: 20px;
}

.modal .img_container {
    background-color: #DEFDE0;
    height: 100%;
    width: 30%;
    max-width: 350px;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img_container img {
    margin-top: auto;
    width: 90%;
}

.modal .number {
    font-size: 0.8rem;
    display: inline-block;
    margin-left: auto;
}

.modal-btn {
    background-color: #D4D3DD;
    box-shadow: none;
    color: rgba(100, 100, 100, 0.7);
    background-color: #fff;
    margin: 0;
    padding: 10px;
    font-weight: 700;
    border-radius: 0;
}

.modal-btn:focus {
    background-color: #fff;
}